In [2]:
""""/* PART 2: SQLite
/* We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output."""


import sqlite3 
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """ 
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

OperationalError: no such table: FACILITIES

In [ ]:
QUESTIONS:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */
                          
rs = con.execute('''SELECT f.name AS FacilityName,
                 CASE
WHEN f.guestcost*slots >0
THEN f.guestcost*slots
WHEN f.membercost*slots >0
THEN f.membercost*slots
END AS cost

From (select firstname, surname, b.slots, b.facid from Members as m inner join Bookings as b on b.memid= m.memid
          WHERE b.starttime LIKE '2012-09-14%' ) as Cost
    inner join Facilities AS f on f.facid = Cost.facid
 
                 ''')
                 
df= pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df=df.groupby('FacilityName').sum()
df[df.cost < 1000].sort_values(by='cost', ascending=False)

In [ ]:
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
                          
rs = con.execute('''SELECT m1.surname, m1.firstname, m2.surname || ' ' || m2.firstname as RecommendedBy
                    FROM Members as m1
                    INNER JOIN Members as m2 
                    ON m1.recommendedby = m2.memid
                    ORDER BY m1.surname, m1.firstname
                 ''')
                 
df= pd.DataFrame(rs.fetchall())
df.columns = rs.keys()

In [ ]:
/* Q12: Find the facilities with their usage by member, but not guests */

rs = con.execute('''SELECT u.name as facility, u.surname || ' ' || u.firstname as MemberUsage
                    FROM (SELECT f.name as name, m.surname as surname, m.firstname as firstname 
                            FROM Members as m
                            INNER JOIN Bookings as b
                            ON b.memid = m.memid
                            
                            INNER JOIN Facilities as f
                            ON b.facid = f.facid
                            WHERE b.facid <> 0) as u
                   ''')
                 
df= pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df = df.groupby('facility')['MemberUsage'].count()

In [ ]:
/* Q13: Find the facilities usage by month, but not guests */

rs = con.execute('''SELECT u.name as facility, u.surname || ' ' || u.firstname as MemberUsage, u.starttime
                    FROM (SELECT f.name as name, m.surname as surname, m.firstname as firstname, b.starttime  as starttime
                            FROM Members as m
                            INNER JOIN Bookings as b
                            ON b.memid = m.memid
                            
                            INNER JOIN Facilities as f
                            ON b.facid = f.facid
                            WHERE b.facid <> 0) as u
                   ''')
                 
df= pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
df.starttime = pd.to_datetime(df.starttime)
df.starttime = df.starttime.dt.month
df.rename(columns={'starttime': 'month'}, inplace=True)
df.columns
df.groupby(['facility','month']).count()
Â© 2021 GitHub, Inc.